<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Invite Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col><ion-textarea placeholder="Enter email here..."></ion-textarea></ion-col>
        <ion-col><ion-button float-right color="success">Invite</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
