<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-card>    
      <ion-row justify-content-center align-items-center>
        <ion-thumbnail>
          <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-367-456319.png">
        </ion-thumbnail>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row *ngFor="let item of items">
        <ion-col class="right">
          <div>{{item.property}}</div>
        </ion-col>
        <ion-col>
          <div>{{item.value}}</div>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>

<ion-footer no-shadow>
  <ion-toolbar position="bottom">
      <amplify-authenticator class="full-width"></amplify-authenticator>          
  </ion-toolbar>
</ion-footer>
