<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-card>
      <ion-row>
        <ion-col align-items-left>
          <ion-thumbnail>
            <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-367-456319.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-button float-right color="success">Green Footprint</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-toolbar color="success">
            <ion-title>{{viewTitle}}</ion-title>
        </ion-toolbar>
        <calendar class="full"
          [eventSource]="eventSource" 
          [calendarMode]="calendar.mode" 
          [currentDate]="calendar.currentDate"
          (onEventSelected)="onEventSelected($event)"
          (onTitleChanged)="onViewTitleChanged($event)"
          (onTimeSelected)="onTimeSelected($event)" 
          startHour="6"
          endHour="20"
          step="30"
          startingDayWeek="1">
        </calendar>
      </ion-row>
    </ion-card>
    <ion-row *ngIf="eventDetails">
      <ion-card class="full">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>Title</p>
            </ion-col>
            <ion-col>
              <p>{{event.title}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>StartTime</p>
            </ion-col>
            <ion-col>
              <p>{{event.startTime}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>EndTime</p>
            </ion-col>
            <ion-col>
              <p>{{event.endTime}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Cost</p>
            </ion-col>
            <ion-col>
              <p>{{event.cost}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>Start Coordinates</p>
            </ion-col>
            <ion-col>
              <p>{{event.startCoords}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p>End Coordinates</p>
            </ion-col>
            <ion-col>
              <p>{{event.endCoords}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
